<header>
  <img
    src="assets/images/guilherme-camargo-512x512.jpeg"
    alt="Guilherme Camargo - Foto de Perfil"
    width="150px"
    height="150px"
    loading="eager"
  />
  <h1>Guilherme Camargo</h1>
</header>
<aside>
  <div class="container">
    <p>
      Desenvolvedor FullStack - FrontEnd Angular & React | Back-End C# & NodeJS
    </p>
    <p>Londrina, Paraná, Brasil</p>
    <p>Desenvolvedor fullstack</p>

    <nav>
      <ul>
        <li>
          <a
            href="assets/pdfs/cv-guilherme-camargo.pdf"
            target="_blank"
            class="btn btn-primary"
          >
            Download CV
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/camargo-dev/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Icone para contato do WhatsApp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5543984231673&text=Ol%C3%A1%20Guilherme,%20preciso%20de%20um%20or%C3%A7amento"
            target="_blank"
          >
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (43) 9 8423-1673</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Icone para contato do e-mail"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:guilherme@camargotech.com.br" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>{{ "guilherme@camargotech.com.br" }}</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
